div:after {
	clear: both;
	content: "";
	display: block;
}

.contentBox h2 {
    color: #091931;
}

.menuBox {
    width: 25%;
    height: 610px;
    /* border: 0px solid #ddd; */
    margin: 40px 0;
    display: inline-block;
    float: left;
    box-shadow: 0 3px 7px #ddd;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.menuBox.first {
    /* border-top-width: 35px;
    border-top-color: rgb(218, 126, 126); */
    opacity: 1;
    background: #5f6167;
    background-image: url(/img/main2/line-face.png);
    position: relative;
    cursor: pointer;
}

.menuBox.first:hover {
	opacity: 0.7;
}

.redBorder {
    height: 35px;
    background: rgb(204, 93, 93);
    opacity: 0.7;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.grayBorder {
	height: 35px;
    background: rgb(95, 97, 103);
    opacity: 0.7;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.menuBox.second {
	/* border-top-width: 35px;
    border-top-color: #5f6167; */
    background-image: url(/img/main2/doctor.png);
    background-repeat: no-repeat;
    background-color: #f3f1f1;    
    opacity: 1;
    cursor: pointer;
}

.menuBox.second:hover {
	opacity: 0.7;	
}


.quick {
    width: 171px;
    height: 278px;
    position: absolute;
    top: 927px;
    right: 5%;
    z-index: 23;
    box-shadow: 1px 2px 7px 0 #6d6363;
}
  -moz-osx-font-smoothing: grayscale;

.menuText {
	margin: 20px;
}

.menuText, .halfText {
	padding: 25px;
	margin-top: 0;

}

.menuText.first.top {

}

.menuText.first h2 {
	color: #fff;
}

.menuText.first.bottom {
	position: absolute;
	bottom: 0;
}

.menuText.first.top .menuText.first.black, .halfText {
	margin-top: 0;
}

.menuText.first.black h2 {
	color: #000;
}

.mainMenu h2,.mainMenu .text {
	font-size: 22px;
	/* font-weight: bold; */
	letter-spacing: -0.4px;
	line-height: 40px;
    color: #091931;
}

.menuBox.halfBox h2 {
	display: inline-block;
}

.menuBox.halfBox {
    margin-bottom: 0;	
	box-shadow: 4px 3px 7px 0 #ccc;
}

.halfText {
	height: 255px;
	position: relative;
}

.halfText:first-of-type {
	/* border-bottom: 1px solid #ddd; */
	background: #091931;
	position: relative;
}

.halfText:first-of-type h2 {
	color: #fff;
}

h2.textRight {
	text-align: right;
	float: right;
}

h2.textLeft {
	text-align: left;
	float: left;
}

h2.textRight.days {
	margin: 15px 0 0 0px;
}

.halfText.third .text{
    color: #fff;
}

.TextContent {
    margin-top: 15px;
    width: auto;
    float: right;
}

.mainMenu .text{
    font-size: 22px;
    /* font-weight: bold; */
    letter-spacing: -0.4px;
    line-height: 40px;
    color: #091931;
}

h2.halfCall {
    font-size: 35px;
    letter-spacing: 1.4px;
    font-weight: 550;
    position: absolute;
    bottom: 10%;
    right: 5%;
    left: 8%;
}

.halfText.second {
	background: #ddd;
	cursor: pointer;
}

.halfText.second:hover {
	background: #f45858;	
}

.halfText.second h2 {
	color: #091931;
}

.halfText.third {
    background: #091931;
    position: relative;
    cursor: pointer;
}

.halfText.third:hover {
    background: #f45858;
}

.halfText.third:hover h2 {
	color: #091931;
}

.halfText.third:hover .text{
	color: #091931;
}


.halfText.third h2 {
	color: #fff;
}

.clockImg {
	display: inline-block;
	float: left;
	position: absolute;
    bottom: 12%;
    left: 6%;
}

h2.textRight.top {
	position: absolute;
    bottom: 10%;
    right: 5%;
}

.smallBox.first {
    background: #F45858;
    padding: 13px;
    text-align: center;
    height: 40px;
}

.smallBox.first h2, .smallBox.second h2 {
    color: #fff;
}

.smallBox.second {
	height: 80px;
    padding: 13px;
    background: #091931;
    cursor: pointer;
}

.smallBox.second:hover {
	background: #0f2b56;
}

.smallBox {
	display: table;
	width: 145px;	
}

.contentBox {
	display: table-cell;
	vertical-align: middle;
}

.smallBox.second h2 {
	margin-top: 6px;
}

.smallBox  h2 {
	font-size: 19px;
	margin: 0;
    text-align: center;
    font-weight: bold;
	display: inline-block;
}

.smallBox.third {
	padding: 13px;
	background: #FFE600;
	height: 80px;
	cursor: pointer;
}

.smallBox.third:hover {
    background: #ffec42;
}



.smallBox.third h2 {
	margin-top: 13px;
}

.mainMenu h2.bigText {
	font-size: 28px;
}



.callImgBox {
    margin: 35px 10px 0;
}

.textRight.halfCall.time {
	line-height: 40px;
}

.mapImgBox {
	position: absolute;
	bottom: 11%;
}

.smallMapBox {
	float: left;
	margin: 0 15px;	
}

.kakaoBox {
	float: left;
	margin-right: 5px;
}

.smallMapBox img {
	width: 25px;
}

.kakaoBox img {
	width: 50px;
}

.halfBox.appear {
	
}

.halfBox.appear.first {
	
}

.halfBox.appear.first:hover {
	opacity: 0.7;
}

.halfBox.appear.first .halfText.first {
	background-image: url(/img/main2/line-face.png);
    background-color: #5f6167;
    background-size: 100%;
    cursor: pointer;
   
}

.halfBox.appear.second {
	background-image:url(/img/main2/doc_w.png);
	background-color: #f3f1f1;
	background-size: 170px;
	position: relative;
}

.halfBox.appear.second:hover {
	opacity: 0.7;
}

.halfBox.appear {
	display: inline-block;
	float: left;
    width: 50%;
}

.halfText.first {
	color: #fff;
}

.halfText.first h2 {

}

.nameText {
    position: absolute;
    bottom: 10%;
    right: 6%;
    font-size: 22px;	
}

.halfText.second.appear {
	background: none;
}

div.container.appear {
	display: none;;
}

.smallH2 {
	margin-top: 0; 
}

.smallH2.textRight {
	text-align: right;
	margin-top: 0;
}

.footerFoot {
	padding: 30px 0;
}

img.logo {
	float: left;
	margin-bottom: 40px;
}

.footerInfo {
	display: block;
}

.footerNav a {
	margin-right: 20px;
	color: #404040;
	font-size: 13px;
	font-weight: 700;
	font-family: "Noto Sans KR";
}

.footerNav a:hover {
	color: #86878c;
}

.footerNav {
	margin-bottom: 3px;
}

.footerInfo {
}

.footerInfo span {
	color: #9f9f9f;
	font-size: 13px;
	margin-right: 10px;
	font-family: "Noto Sans KR";
}

.footerInfo p {
	color: #404040;
	letter-spacing: 1.2px;
	font-family: "Noto Sans KR";
	font-size: 11px;
	font-weight: 700;
	margin-top: 5px;
}

.footerMobile {
	display: none;
}

.halfText.white {
	background: #FBFBFB;
	cursor: pointer;
}

.halfText.white:hover {
    background: #f45858;	
}

.contentBox h2 {

}

.menuBox.first {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.barBorder {
	float: right;
    width: 35px;
    color: #fbfbfb;
    border: 2.5px solid #fbfbfb;
    margin-top: 16px;	
}

.barBorder.black {
	border: 2.5px solid #1e243f;
}

.halfText.third:hover .barBorder {
	border: 2.5px solid #1e243f;
}


@media (min-width: 1200px) {
	div.container {
	    width: 1280px;
	}
}

@media screen and (max-width: 1840px) {
	.quick {
		display: none;
	}
}

@media screen and (max-width: 1366px) {
	
	h2.textRight.days {
		margin: 5px 0 0;
	}
	
	div.container {
	    width: 100%;
	    padding: 0;
	}
	
	.halfText h2.halfCall {
		font-size: 28px;
	}
	
	.mainMenu h2 {
	}
	
	.textRight.halfCall.time {
		line-height: 30px;
	}
	
	.iconImg {
		width: 50px;
	}
	
	.menuBox {
		height: 520px;
		margin: 0;
	}
	
	.halfText {
		height: 220px;
	}
	
	.menuBox.second {
		background-size: 310px 530px;
		border-top-width: 10px;
		
	}
	
	.redBorder {
		height: 10px;
	}
	
	.grayBorder {
		height: 10px;
	}
	

	
	.menuText, .halfText {
		padding: 15px;
	}
	
	.menuText {
		margin: 15px;
	}
	
	/* .clockImg {
		left: 15px;
	} */
	
	.mainMenu h2.bigText {
		font-size: 25px;
	}
	.mainMenu .text {
		font-size: 25px;
	}
	
	.halfText {
		padding: 20px;
	}
	
}

@media screen and (max-width: 1149px) {
	.mainMenu h2 , .mainMenu .text{
		font-size: 20px;
	}
	
	.halfText h2.halfCall {
		font-size: 25px;
	}
	
	.mainMenu h2.bigText {
		font-size: 23px;
	}
}

@media screen and (min-width: 851px) and (max-width: 1050px){
	.menuBox.second {
		background-size: 280px 520px;
	}
}

@media screen and (max-width: 952px) {
	h2.textRight.month {
		font-size: 17px;
	}
}

@media screen and (min-width: 921px) {
	.mainMenu h2 , .mainMenu .text{
		font-weight: bold;
	}
}

@media screen and (max-width: 920px) {
	
	.barBorder.black {
	    border: 2px solid #1e243f;
	}
	
	.barBorder {
		width: 25px;
		border: 2px solid #fbfbfb;
	}
	
	h2.textRight.top {
		line-height: 35px;
	}
	.mainMenu h2, .mainMenu .text {
		-moz-text-stroke: 0.5px;
		-webkit-text-stroke: 0.5px;
	}
	
	/* h2.halfCall {
		left: 15px;
	} */
	
	.halfText h2.halfCall {
		font-size: 22px;
	}
	
	.mainMenu h2.bigText {
		font-size: 22px;
	}
	
	.iconImg {
		width: 40px;
	}
}

@media screen and (max-width: 909px) {
	
	.menuBox {
		height: 480px;
	}
	
	.halfText {
		height: 200px;
	}
}

@media screen and (max-width: 850px) {
	
	h2.textRight.days {
		line-height: 22px;
	}
	
	h2.textRight.month {
		line-height: 22px;
		font-size: 15px;
	}
	
	.barBorder {
		margin-top: 22px;
		width: 22px;	
	}
	
	.menuText.first h2 {
		margin-top: 0;
	}
	.mainMenu .text {
    	font-size: 19px;	
	    line-height: 27px;
	}	
	

	
	.menuBox {
		height: 440px;
	}
	
	h2.textRight.top {
	    bottom: 12%;
   	 	line-height: 30px;	
	}
	
	.halfText {
		height: 190px;
		padding: 10px 20px 20px;
	}
	
	.callImgBox {
	    margin: 20px 10px 0;
	}
	
	.menuText.first h2 {
		margin-top: 0;
	}
	
	.menuBox.halfBox h2 {
		margin-top: 5px;
	}
	
	.menuText {
		margin: 10px;
	}
	
	/* h2.textRight.top {
		right: 10px;
	} */
	
	.textRight.halfCall.time {
		right: 15px;
	}
	
	.halfText h2.halfCall {
		font-size: 19px;
	}
	
	.menuBox.second {
		background-size: 257px 468px;
	}
}

@media screen and (min-width: 810px) and (max-width: 850px) {
	h2.textRight.days {
		margin-top: 15px;
	}
}

@media screen and (max-width: 810px) {
	.TextContent{
		margin-top: 0px;
	}

	.mainMenu h2,.mainMenu .text {
		font-size: 16px;
		-moz-text-stroke: 0.5px;
		-webkit-text-stroke: 0.5px;
	}
	
	h2.bigText {
		font-size: 20px;
	}
	
	.iconImg {
		width: 35px;
	}
	
	.menuBox.second {
		background-size: 225px 415px;
	}
	
	.menuText, .halfText {
		padding: 10px;
	}
	
	.halfText {
		height: 180px;
	}
	
	.menuBox {
		height: 400px;
	}
}

@media screen and (min-width: 750px) and (max-width: 810px) {
	h2.textRight.days {
		margin-top: 0;
	}
}
	
@media screen and (max-width: 749px) {
	
	.footerInfo p {
		margin-bottom: 12px;
	}
	
	div.container.appear {
		display: block;
		margin-top: 40px;
	}
	
	.menuBox.first, .menuBox.second 	{
		display: none;
	}
	
	.menuBox.halfBox {
		width: 50%;
	}
	
	h2.textRight.days {
		position: absolute;
	    right: 20px;
	    top: 50px;
	    margin-top: 20px;
	}
	
	h2.textRight.month {
		position: absolute;
	    top: 45%;
	    right: 6%;
	    font-size: 20px;
	    margin-top: 0;	
	}

	.TextContent {
		position: absolute;
	    right: 20px;
	    top: 50px;
	    margin-top: 20px;
	}
		
	.mainMenu .text{
		font-size: 20px;
	}
	.halfText {
		padding: 20px;
	}
	
	.mainMenu h2,mainMenu .text {
		font-size: 20px;
	}
	
	/* h2.textRight.top {
		right: 20px;
		bottom: 15px;
	} */
	
	.iconImg {
		width: 50px;
	}
	
	/* h2.halfCall {
		bottom: 15px;
	} */
	
	.halfText h2.halfCall {
		font-size: 23px;
	}
	
	/* h2.halfCall {
		left: 20px;
	} */
	
	/* .clockImg {
		bottom: 35px;
	} */
	
	.halfBox.appear.second {
		background-size: 490px 230px;
	}
	
	h2.smallH2 {
		font-size: 17px;
		line-height: 30px;
		margin-top: 10px;
	}
	
	img.logo {
		margin: 0 0 10px 10px;
		float: inherit;
	}
	
	.footerNav {
		display: none;
	}
	
	.footerInfo {
		margin: 10px 10px 0;
	}
	
	.footerInfo:last-of-type {
		margin-bottom: 20px;
	}
	
	.footerMobile {
		display: block;
	}
	
	.mobileNav {
		margin: 0 10px;
	}
	
	.mobileNav a{
	    display: inline-block;
    	float: left;
   	    margin: 0 10px 10px 0;
		padding: 7px;
		color: #fff;
		font-family: "Noto Sans KR";
		font-size: 11px;
	    font-weight: bold;
	    background: #5f6167;
	}
	
	.mobileNav a:hover {
		background: #86878c;
	}
}

@media screen and (min-width: 490px) and (max-width: 749px) {
	.barBorder {
		width: 30px;
	}	
}

@media screen and (max-width: 489px) {
	
	h2.textRight.month {
		font-size: 15px;
	}
	
	.mainMenu h2,.mainMenu .text{
		font-size: 16px;
	}
	
	.halfText h2.halfCall {
		font-size: 19px;
		letter-spacing: 0.4;
	}
	
	.iconImg {
		width: 40px;
	}
	
	.halfText {
		padding: 15px;
	}
	
	/* h2.halfCall {
		left: 10px;
	} */
	
	/* .mapImgBox {
		bottom: 55px;
	} */
	
	
	
	.menuBox {
		height: 380px;
	}
	
	.halfText {
		height: 180px;
	}
	
	.halfBox.appear.second {
		background-size: 200px 270px;
	    background-image: url(/img/main2/doc-ss.png);
	    background-repeat: no-repeat;
	}
	
	h2.smallH2 {
		font-size: 14px;
	}
}

@media screen and (max-width: 424px) {
	.iconImg {
		width: 35px;
	}	
}