div:after {
	clear: both;
	content: "";
	display: block;
}

.menuBox {
    width: 25%;
    height: 610px;
    /* border: 0px solid #ddd; */
    margin: 40px 0;
    display: inline-block;
    float: left;
    box-shadow: 0 3px 7px #ddd;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.menuBox.first {
    /* border-top-width: 35px;
    border-top-color: rgb(218, 126, 126); */
    opacity: 1;
    background: #5f6167;
    background-image: url(/img/main2/line-face.png);
    position: relative;
}

.redBorder {
    height: 35px;
    background: rgb(204, 93, 93);
    opacity: 0.7;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.grayBorder {
	height: 35px;
    background: rgb(95, 97, 103);
    opacity: 0.7;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.menuBox.second {
	/* border-top-width: 35px;
    border-top-color: #5f6167; */
    background-image: url(/img/main2/doctor.png);
    background-repeat: no-repeat;
    background-color: #f3f1f1;    
    opacity: 1;	
}

.quick {
    width: 171px;
    height: 278px;
    position: absolute;
    top: 927px;
    right: 5%;
    box-shadow: 1px 2px 7px 0 #ccc;
}

.menuText {
	margin: 20px;
}

.menuText, .halfText {
	padding: 25px;
	margin-top: 0;

}

.menuText.first.top {

}

.menuText.first h2 {
	color: #fff;
}

.menuText.first.bottom {
	position: absolute;
	bottom: 0;
}

.menuText.first.top .menuText.first.black, .halfText {
	margin-top: 0;
}

.menuText.first.black h2 {
	color: #000;
}

.mainMenu h2 {
	font-size: 26px;
	font-weight: bold;
    letter-spacing: -0.4px;
    line-height: 40px;
}

.menuBox.halfBox h2 {
	display: inline-block;
}

.menuBox.halfBox {
    margin-bottom: 0;	
	box-shadow: 4px 3px 7px 0 #ccc;
}

.halfText {
	height: 255px;
	position: relative;
}

.halfText:first-of-type {
	border-bottom: 1px solid #ddd;
	background: #091931;
	position: relative;
}

.halfText:first-of-type h2 {
	color: #fff;
}

h2.textRight {
	text-align: right;
	float: right;
}

h2.textRight.days {
	margin: 30px 0 0 30px;
}


h2.halfCall {
    font-size: 35px;
    letter-spacing: 1.4px;
    font-weight: 550;
    position: absolute;
    bottom: 15%;
    right: 5%;
    left: 8%;
}

.halfText.second {
	background: #ddd;
}

.halfText.second h2 {
	color: #000;
}

.halfText.third {
    background: #F45858;
    position: relative;
}

.halfText.third h2 {
	color: #fff;
}

.clockImg {
	display: inline-block;
	float: left;
	position: absolute;
    bottom: 17%;
    left: 6%;
}

h2.textRight.top {
	position: absolute;
    bottom: 15%;
    right: 5%;
}

.smallBox.first {
    background: #F45858;
    padding: 13px;
    text-align: center;
    height: 40px;
}

.smallBox.first h2, .smallBox.second h2 {
    color: #fff;
}

.smallBox.second {
	height: 80px;
    padding: 13px;
    background: #091931;
}

.smallBox {
	display: table;
	width: 145px;	
}

.contentBox {
	display: table-cell;
	vertical-align: middle;
}

.smallBox.second h2 {
	margin-top: 6px;
}

.smallBox  h2 {
	font-size: 19px;
	margin: 0;
    text-align: center;
    font-weight: bold;
	display: inline-block;
}

.smallBox.third {
	padding: 13px;
	background: #FFE600;
	height: 80px;
}

.smallBox.third h2 {
	margin-top: 13px;
}

.mainMenu h2.bigText {
	font-size: 30px;
}

img.barImg {
	margin-top: 20px;
	float: right;
}

.callImgBox {
    margin: 35px 10px 0;
}

.textRight.halfCall.time {
	line-height: 40px;
}

.mapImgBox {
	position: absolute;
	bottom: 14%;
}

.smallMapBox {
	float: left;
	margin: 0 15px;	
}

.kakaoBox {
	float: left;
	margin-right: 5px;
}

.smallMapBox img {
	width: 25px;
}

.kakaoBox img {
	width: 50px;
}

.halfBox.appear {
	
}

.halfBox.appear.first {
	background-image: url(/img/main2/line-face.png);
    background-color: #5f6167;
    background-size: 100%;
}

.halfBox.appear.second {
	background-image:url(/img/main2/doc_w.png);
	background-color: #f3f1f1;
	background-size: 170px;
	position: relative;
}

.halfBox.appear {
	display: inline-block;
	float: left;
    width: 50%;
}

.halfText.first {
	color: #fff;
}

.halfText.first h2 {

}

.nameText {
    position: absolute;
    bottom: 10%;
    right: 6%;
    font-size: 22px;	
}

.halfText.second.appear {
	background: none;
}

div.container.appear {
	display: none;;
}

.smallH2 {
	margin-top: 0; 
}

.smallH2.textRight {
	text-align: right;
	margin-top: 0;
}

.footerFoot {
	padding: 30px 0;
}

img.logo {
	float: left;
	margin-bottom: 36px;
}

.footerInfo {
	display: block;
}

.footerNav a {
	margin-right: 20px;
	color: #404040;
	font-size: 13px;
	font-family: "Nanum Gothic";
}

.footerNav a:hover {
	color: #929292;
}

.footerNav {
	margin-bottom: 0;
}

.footerInfo {
	font-family: "Nanum Gothic";	
}

.footerInfo:first-of-type {
	color: #b7b5b5;
	font-size: 13px;
}

.footerInfo:last-of-type {
	color: #404040;
	letter-spacing: 1.2px;
	font-size: 11px;
}

.footerMobile {
	display: none;
}

.halfText.white {
	background: #FBFBFB;
}

.contentBox h2 {
	cursor: pointer;
}

.menuBox.first {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


@media (min-width: 1200px) {
	div.container {
	    width: 1280px;
	}
}

@media screen and (max-width: 1840px) {
	.quick {
		display: none;
	}
}

@media screen and (max-width: 1366px) {
	
	h2.textRight.days {
		margin: 30px 0 0;
	}
	
	div.container {
	    width: 100%;
	    padding: 0;
	}
	
	.halfText h2.halfCall {
		font-size: 28px;
	}
	
	.mainMenu h2 {
		font-size: 23px;
	}
	
	.textRight.halfCall.time {
		line-height: 30px;
	}
	
	.iconImg {
		width: 50px;
	}
	
	.menuBox {
		height: 520px;
		margin: 0;
	}
	
	.halfText {
		height: 220px;
	}
	
	.menuBox.second {
		background-size: 315px 530px;
		border-top-width: 10px;
		
	}
	
	.redBorder {
		height: 10px;
	}
	
	.grayBorder {
		height: 10px;
	}
	
	img.barImg {
		margin-top: 16px;
	    width: 30px;
	}
	
	.menuText, .halfText {
		padding: 15px;
	}
	
	.menuText {
		margin: 15px;
	}
	
	/* .clockImg {
		left: 15px;
	} */
	
	.mainMenu h2.bigText {
		font-size: 25px;
	}
	
	.halfText {
		padding: 20px;
	}
	
}

@media screen and (max-width: 1149px) {
	.mainMenu h2 {
		font-size: 20px;
	}
	
	.halfText h2.halfCall {
		font-size: 25px;
	}
	
	.mainMenu h2.bigText {
		font-size: 23px;
	}
}

@media screen and (min-width: 851px) and (max-width: 1050px){
	.menuBox.second {
		background-size: 280px 520px;
	}
}

@media screen and (max-width: 920px) {
	
	h2.textRight.top {
		line-height: 35px;
	}
	.mainMenu h2 {
		font-size: 18px;
	}
	
	/* h2.halfCall {
		left: 15px;
	} */
	
	.halfText h2.halfCall {
		font-size: 22px;
	}
	
	.mainMenu h2.bigText {
		font-size: 22px;
	}
	
	.iconImg {
		width: 40px;
	}
}

@media screen and (max-width: 909px) {
	
	.menuBox {
		height: 480px;
	}
	
	.halfText {
		height: 200px;
	}
}

@media screen and (max-width: 850px) {
	.menuText.first h2 {
		margin-top: 0;
	}
	
	img.barImg {
		width: 20px;
	}
	
	.menuBox {
		height: 440px;
	}
	
	h2.textRight.top {
	    bottom: 12%;
   	 	line-height: 30px;	
	}
	
	.halfText {
		height: 190px;
		padding: 10px 20px 20px;
	}
	
	.callImgBox {
	    margin: 20px 10px 0;
	}
	
	.menuText.first h2 {
		margin-top: 0;
	}
	
	.menuBox.halfBox h2 {
		margin-top: 5px;
	}
	
	img.barImg {
		margin-top: 22px;
	}
	
	.menuText {
		margin: 10px;
	}
	
	/* h2.textRight.top {
		right: 10px;
	} */
	
	.textRight.halfCall.time {
		right: 15px;
	}
	
	.halfText h2.halfCall {
		font-size: 19px;
	}
	
	.menuBox.second {
		background-size: 257px 468px;
	}
}

@media screen and (max-width: 810px) {
	.mainMenu h2 {
		font-size: 16px;
	}
	
	h2.bigText {
		font-size: 20px;
	}
	
	.iconImg {
		width: 35px;
	}
	
	.menuBox.second {
		background-size: 225px 415px;
	}
	
	.menuText, .halfText {
		padding: 10px;
	}
	
	.halfText {
		height: 180px;
	}
	
	.menuBox {
		height: 400px;
	}
}
	
@media screen and (max-width: 749px) {
	
	div.container.appear {
		display: block;
		margin-top: 40px;
	}
	
	.menuBox.first, .menuBox.second 	{
		display: none;
	}
	
	.menuBox.halfBox {
		width: 50%;
	}
	
	h2.textRight.days {
		position: absolute;
	    right: 20px;
	    top: 40px;
	    margin-top: 20px;
	}
	
	.halfText {
		padding: 20px;
	}
	
	.mainMenu h2 {
		font-size: 20px;
	}
	
	/* h2.textRight.top {
		right: 20px;
		bottom: 15px;
	} */
	
	.iconImg {
		width: 50px;
	}
	
	/* h2.halfCall {
		bottom: 15px;
	} */
	
	.halfText h2.halfCall {
		font-size: 23px;
	}
	
	/* h2.halfCall {
		left: 20px;
	} */
	
	/* .clockImg {
		bottom: 35px;
	} */
	
	.halfBox.appear.second {
		background-size: 490px 230px;
	}
	
	h2.smallH2 {
		font-size: 17px;
		line-height: 30px;
		margin-top: 10px;
	}
	
	img.logo {
		margin: 0 0 10px 10px;
		float: inherit;
	}
	
	.footerNav {
		display: none;
	}
	
	.footerInfo {
		margin: 10px 10px 0;
	}
	
	.footerInfo:last-of-type {
		margin-bottom: 20px;
	}
	
	.footerMobile {
		display: block;
	}
	
	.mobileNav {
		margin: 0 10px;
	}
	
	.mobileNav a{
	    display: inline-block;
    	float: left;
   	    margin: 0 10px 10px 0;
		border: 1px solid #b7b5b5;
		padding: 7px;
		color: #404040;
	}
	
	.mobileNav a:hover {
		color: #929292;
	}
}

@media screen and (min-width: 490px) and (max-width: 749px) {
	img.barImg {
		width: 30px;
	}
}

@media screen and (max-width: 489px) {
	.mainMenu h2 {
		font-size: 16px;
	}
	
	.halfText h2.halfCall {
		font-size: 19px;
		letter-spacing: 0.4;
	}
	
	.iconImg {
		width: 40px;
	}
	
	.halfText {
		padding: 15px;
	}
	
	/* h2.halfCall {
		left: 10px;
	} */
	
	/* .mapImgBox {
		bottom: 55px;
	} */
	
	img.barImg {
	    margin-top: 23px;
   	 	width: 20px;	
	}
	
	.menuBox {
		height: 380px;
	}
	
	.halfText {
		height: 180px;
	}
	
	.halfBox.appear.second {
		background-size: 200px 270px;
	    background-image: url(/img/main2/doc-ss.png);
	    background-repeat: no-repeat;
	}
	
	h2.smallH2 {
		font-size: 14px;
	}
}