/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    } 
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: "NanumSquare";
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}


/*doyoung */  
a{
	cursor: pointer;
}
a:link, a:visited, a:active, a:hover {
    text-decoration: none !important;
}
/* 더보기 버튼 */
.more_link:hover {
    color: #f45858;
}
.more_link:hover:after {
    right: -25px;
    border-color: #f45858;
}
.more_link{
	display: inline-block;
	margin: 0 30px 0 0;
	float: right;
	position: relative;
	font-size: 16px;
    font-family: "Noto Sans KR";
    font-weight: bold;
	color: white;
	letter-spacing: -1;
} 
.more_link:after{
	width: 10px;
	height: 10px;
	display: block;
	content: "";
	border-width: 2px;
	border-style: solid;
	/* border-color: #333; */
	border-top-width: 0;
	border-left-width: 0;
	position: absolute;
	right: -19px;
	top: 4px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


#mainVisual {
    position: relative;
    overflow: hidden;
    height: 584px;
    width: 100%;
    margin-top: 63px;
}


#mainVisual .visual_wrap li:first-child {
    display: block;
    opacity: 1;
    filter: alpha(opacity=100);
}


#mainVisual .visual_wrap li{
	width: 100%;
    height: 585px;
    /* min-width: 1180px; */
    position: absolute;
    top: 0;
    /* display: none; */
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-background-position-x: 50%;
    background-position-x: 50%;
    -ms-background-position-y: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}


#mainVisual .visual_wrap .visual_img{
    position: absolute;
    display: table;
    z-index: 10;
    text-align: center;
}


/* leftTap 위치 조절 */
.visual_img.title{
	top: 13%;
	/* left: -26px; */
}
.bar {
    margin-top: 39px;
}
.visual_img.sub{
	top: 62%;
	/* right: 53px; */
}


.visual_imgWrap.text .imageWrap{
	bottom: 5%;
	right: 0;
}

#mainVisual .visual_wrap .visual_img .imageWrap {
    display: table-cell;
}


.mainVisual-footer {
    width: 100%;
}

.leftBox {
    /* padding: 17.5px 0px; */
    width: 42%;
    /* padding-right: 32px; */
    color: #ffffff;
    background-color: #091931;
}

.rightBox {
    background-color: #404355;
    width: 58%;
    /* padding: 35px 0 0 55px; */
    color: white;
}

.mainVisual-footer>div {
    float: right;
    /* height: 100%; */
    min-height: 250px;
}

.semiBox {
    float: left;
}

.semiTitle h3 {
    margin: 0;
    float: left;
}

.mainVisual-footer {
    overflow: hidden;
    position: relative;
}

span.more {
    float: right;
    cursor: pointer;
    margin-top: 3px;
}

.leftBox {}

.cacaoLine-Box span {
    color: #ffe600;
    padding-right: 20px;
    line-height: 32px;
    font-size: 24px;
    vertical-align: middle;
    font-weight: bold;
    font-family: "Noto Sans KR";
}

.leftBox .content {
    float: right;
    display: block;
    margin: 45px 14% 0 0;
}

.leftBox .content h1 {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    font-family: "Noto Sans KR";
}


.semiBox.after  {
    margin-left: -1px;
}

.semiTitle {
    overflow: hidden;
    margin-bottom: 15px;
    padding-left: 12px;
}

.semiBox.after .semiTitle h3 {
    color: #f45858;
}

.semiBox .semiTitle h3 {
	font-family: "Nanum Gothic";
    font-weight: bold;
}

span.more img {
    margin-bottom: 3px;
    padding-left: 5px;
}



.semiBox .semiTitle {
    border-left: 2.5px solid #fcfcff;
}

.semiBox.after .semiTitle {
    border-color: #f45858;
}

.semiContent {
    position: relative;
}
/* .semiBox.after:hover .semiContent::after {
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}  */

.semiBox.after .semiContent::after {
	background: #f45858;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.semiContent::after {
    content: '';
    width: 100%;
    height: 6px;
    z-index: 20;
    background: #88848f;
    position: absolute;
    bottom: 0;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}


.visual_imgWrap {
    height: 181px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: table;
    z-index: 10;
    bottom: 11%;
    right: 0;
    text-align: center;
}
 
.visual_imgWrap.text .visual_img {
  /*   right: 0; */
}

.semiBoxWrap {
    overflow: hidden;
    margin: 32px 0px 0 35px;
}

leftTap::after {
    display: block;
    clear: both;
    content: '';
}

.leftTap {
    overflow: hidden;
    height: 300px;
    position: absolute;
    width: 100%;
}



.visual_wrap .list1{
	background-image: url(/img/main/carocel1/main.png);
}
.visual_wrap .list2{
	background-image: url(/img/main/carocel2/back.png);
}
.visual_wrap .list3{
	background-image: url(/img/main/carocel3/back.png);
}
.visual_wrap .list4{
	background-image: url(/img/main/carocel4/back.png);
}




.target{
	-webkit-transform: translate(0, 30px);
	    -moz-transform: translate(0, 30px);
	    -ms-transform: translate(0, 30px);
	    -o-transform: translate(0, 30px);
	    transform: translate(0, 30px);
	    opacity: 0;
	    filter: alpha(opacity=0);
}

.imageWrap img ,.mainImage img{
    width: 100%;
    height: auto;
}
      
label, button {
    cursor: pointer;
}      

select, input, button, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    border: 0 none;
    font-size: 17px;
    font-weight: 300;
}
      
/* 캐러셀 버튼 */
#mainVisual #indiBtn button.active ,#mainVisual #indiBtn button:hover{
    background-color: #f45858;
    opacity: 1;
}
 
#mainVisual #indiBtn button {
    width: 45px;
    height: 10px;
    opacity: 0.4;
    background-color: #fff;
    text-indent: -9999px;
    /* -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
     border-radius: 10px; */
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}      

#mainVisual #indiBtn {
    width: 100%;
    position: absolute;
    left: 575px;
    bottom: 37%;
    z-index: 20;
    opacity: 0;
}
      
#mainVisual #indiBtn li {
    display: inline-block;
    margin: 0 3px;
}

.cacaoLine {
	display: none;
}


.imageBarWrap {
    float: left;
    margin-top: 30px;
}

.imageContentWrap {
    overflow: hidden;
    float: left;
    height: auto;
    width: auto;
}

.visual_img.title.target {
    position: initial;
}

.visual_img.sub.target {
    position: relative;
    display: block;
}
.bar {
    background-color: #f45858;
    height: 43px;
    width: 578px;
    opacity: 0;
}

.list2 .visual_imgWrap.text.target .visual_img {
    left: 10%;
    /* margin-right: 20px; */
}

.visual_imgWrap.text.target {
    width: 1280px;
}

.list2 .visual_imgWrap.text.target .visual_img .imageWrap {
	padding-right: 23px;
}

#mainVisual > ul.visual_wrap > li.list3 > div.visual_imgWrap.text.target > .visual_img {
    position: relative;
    margin-top: 7px;
}

#mainVisual > ul.visual_wrap > li.list3 > div.leftTap > div.imageContentWrap > div.visual_img.sub.target{
    top: 67%;
}
#mainVisual > ul.visual_wrap > li.list4 > div.leftTap > div.imageContentWrap > div.visual_img.sub.target{
    top: 53%;
}



#mainVisual .visual_img.sub2.target {
    bottom: 12%;
    width: 310px;
    display: none;
}
#quickMenu{
	opacity: 0;
}

/* 반응형 */
visual_wrap{
	opacity: 0;
	display: none;
}

.semiBox.after .semiTitle {
    margin-bottom: 10px;
}


@media screen and (max-width:1280px) {
	
	#mainVisual .visual_img.sub2.target {
	    display: block;
	}
	
	.visual_wrap .list1{
		background-image: url(/img/main/carocel1/main_m.png);
	}
	
	.list2 .visual_imgWrap.text.target .visual_img{
		left: auto;
		/* width: 380px; */
	}
	.list2 .visual_imgWrap.text.target{
		display: block;
		bottom: 8%;
		height: 141px;
		width: 300px;
	}
	.list3 .visual_imgWrap.text.target{
		display: block;
	    bottom: 0px;
	}
	#mainVisual > ul.visual_wrap > li.list2 > div.leftTap > div.imageContentWrap > div.visual_img.sub.target{
	    top: 51%;
	}
	
	

/* 
	.visual_img.title img{
		width: 550px;
	}
	.leftTap{
		width: 550px;		
	}  */
	
/* 	div.visual_img.title {
	    top: 26%;
	    left: 0px;
	} 
	
	div.visual_img.sub {
    top: 64%;
    right: 0;
}
 */
	

	div.visual_imgWrap.text{
		display: none;
	}
	
	div.mainVisual-footer>div{
		width: 100%
	}
	
	div.mainVisual-footer>div div.content{
		    float: none;
		    width: 100%;
		    vertical-align: middle;
		    text-align: center;
	}
	
	.semiBoxWrap {
	
	}
	div.rightBox{
		padding:inherit;
		position: relative;
	}
	div.rightBox .semiBoxWrap{
	display: block;
	position: absolute;
	left: calc(50% - 316px);
	width: 642px;
	top: 40px;
	margin: 0;
	}
	
	#mainVisual{
		height: 385px;
	}
	#mainVisual .visual_wrap li{
		width:100%;
		height: 385px
	}
	
	#mainVisual #indiBtn {
	    bottom: 3%;
	}
	
	/* 카카오라인 */
	div.leftBox{
		display: none;
	}
	
	.mainVisual-footer div.cacaoLine {
		display: block;
		background-color: #091931;
		color: white;
		min-height: 135px;
	}
	
	div.cacaoLine span {
	    color: #ffe600;
	    font-weight: bold;
	    font-size: 21px;
	}
		
	.cacaoLine .content h1 b {
	    font-family: "Nanum Gothic";
	    font-weight: bold;
	    font-size: 21px;
	    margin: 0 126px 0 126px;
	}	      

	.cacaoLine > div > div > h1 {
	    line-height: 135px;
	}	
		
}


@media screen and (max-width:1080px) {
	
	.visual_wrap .list1{
		background-image: url(/img/main/carocel1/main_sss.png);
	}
	
/* 	.visual_img.title img{
		width: 450px;
	}
	.leftTap{
		width: 450px;		
	} */
	
	
		
		
	#mainVisual #indiBtn {
	    left: 15%;
	    bottom: 3%;
	}
	
	.semiContent {
	    width: 300px;
	}

}

@media screen and (max-width:1015px) {
	
/* 
	#mainVisual{
		height: 285px; 
	}
	
	#mainVisual .visual_wrap li{
		height: 285px
	} 
	
 */	
	
}



@media screen and (max-width:942px) {
			
	.cacaoLine .content h1 b {
	    margin: 0 75px 0 60px;
	}
	
	.semiContent {
	    width: 250px;
	}
	div.rightBox .semiBoxWrap {
	    left: calc(50% - 250px);
	}
	.mainVisual-footer>div {
	    min-height: 230px;
	}
	
}

@media screen and (max-width:850px) {
	div.visual_wrap .list2{
		background-image: url(/img/main/carocel2/main_s.png);
	}
}

@media screen and (max-width:815px) {
		.visual_wrap .list1{
		background-image: url(/img/main/carocel1/main_4.png);
	}
	
	.visual_wrap .list2{
		background-image: url(/img/main/carocel2/main_s.png);
	}
	
	#mainVisual > ul.visual_wrap > li.list1 > div.leftTap > div.imageContentWrap > div.visual_img.sub.target{
	    top: 55%;
	}
	
	
/* 	.visual_img.title img{
		width: 300px;
	}
	.leftTap{
		width: 300px;		
	} */
		
		
	/* leftTap 위치 조절 */
	.visual_img.sub{
	    top: 57%;
	}
	
	#mainVisual > ul.visual_wrap > li.list3 > div.leftTap > div.imageContentWrap > div.visual_img.sub.target{
		top: 57%;
	}
	#mainVisual > ul.visual_wrap > li.list3 > div.leftTap > div.imageContentWrap > div.visual_img.title.target{
		top: 12%;
	}
	
	li.list3 > div.leftTap .bar {
	    margin-top: 36px;
	}
				
	
/* 	div.visual_img.title {
	    top: 20%;
	    left: 0;
	}  */

/* 	div.rightBox .semiBoxWrap {
    display: block;
    position: absolute;
    left: calc(50% - 168px);
    width: 320px;
    top: 40px;
}
 	.mainVisual-footer div.rightBox{
		min-height: 475px;
	}
	
	.semiBox.after {
	    margin-left: 0;
	    margin-top: 30px;
	}	
		*/	
				
	.cacaoLine .content h1 b {
  		  margin: 0 25px;
	}
	


} 
@media screen and (max-width:695px) {
	
	.cacaoLine{
 		  display: none !important;
	}
	.leftBox{
		display: block !important;
	}
	.cacaoLine-sub{
		width: 245px;
		margin: 0 auto;
		text-align: left;
	}
	.cacaoLine-Box{
		width: 245px;
		margin: 0 auto;
		text-align: left;
	}
	
	.cacaoLine-Box img{
		width: 80px;
	}
	
	.cacaoLine-Box h1 {
		text-align: left;
	}
	.cacaoLine-Box span{
		padding-bottom: 20px;
	}
	
}

@media screen and (max-width:615px) {

/* 	.visual_img.title img{
		width: 250px;
	}
	.leftTap{
		width: 250px;		
	} */
	.mainVisual-footer> div.leftBox {
	    min-height: 130px;
	    padding-top: 0;
	}
		
	.leftBox .content h1 {
	    font-size: 21px;
	}
	
	.leftBox .content {
	    margin: 11px 14% 23px 0;
	}
	
	.cacaoLine-sub{
		margin-top: -11px;
	}
	
	
} 
@media screen and (max-width:536px) {

	.semiContent {
	    width: 185px;
	}
	
	.list1 div.visual_img.title {
	    top: 40%;
	}
	
		
	#mainVisual > ul.visual_wrap > li.list1 > div.leftTap > div.imageContentWrap > div.visual_img.sub.target{
	    top: 74%;
	}

	
	.list1 .bar {
	    margin-top: 120px;
	}
	
	div.rightBox .semiBoxWrap {
	    left: calc(50% - 185px);
	}
		/* leftTap 위치 조절 */
	div.visual_img.title{
		top: 28%;
		/* left: -26px; */
	}
	
	.list2 .visual_imgWrap.text.target{
		bottom: 5%;
	}
	
	.bar {
	    margin-top: 84px;
	}
	div.visual_img.sub{
	    top: 64%;
	}
	
	#mainVisual > ul.visual_wrap > li.list2 > div.leftTap > div.imageContentWrap > div.visual_img.sub.target {
    		top: 62%;
	}
}
@media screen and (max-width:400px) {

	.semiContent {
	    width: 155px;
	} 
	
	div.rightBox .semiBoxWrap {
	    left: calc(50% - 155px);
	}
	
	.mainVisual-footer>div {
	    min-height: 185px;
	}	
}


