<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" id="footer" style="border-top:1px solid #e6e6e6;">
	<div class="footerFoot">
			<div class="container">
				<img class="logo" src="/img/main2/logo_bottom.jpg" alt="">
				<p class="footerNav">
					<a href="http://www.yangak.com/new/bbs/personal_info.php?url=%2Fnew%2Fimplant01%2Findex1.php">개인정보취급방침</a>
					<a href="http://www.yangak.com/new/bbs/obligation.php?url=%2Fnew%2Fimplant01%2Findex1.php">환자의 권리와 의무</a>
					<a href="http://www.yangak.com/new/intro/index3.php">진료시간안내</a>
					<a href="http://www.yangak.com/new/intro/index4.php">오시는 길</a>
				</p>
				<span class="footerInfo">서울시 강남구 도곡로 429, 2층 대표자: 이용찬 사업자등록번호: 492-02-00561 대표전화: 02-568-3375 팩스: 070-7005-4231</span>
				<span class="footerInfo">COPY 2014 BESTIAN DENTAL CLINIC. ALL RIGHTS RESERVED.</span>
				<div class="footerMobile">
					<ul class="mobileNav">
						<li><a href="http://www.yangak.com/new/bbs/personal_info.php?url=%2Fnew%2Fimplant01%2Findex1.php">개인정보취급방침</a></li>
						<li><a href="http://www.yangak.com/new/bbs/obligation.php?url=%2Fnew%2Fimplant01%2Findex1.php">환자의 권리와 의무</a></li>
						<li><a href="http://www.yangak.com/new/intro/index3.php">진료시간안내</a></li>
						<li><a href="http://www.yangak.com/new/intro/index4.php">오시는 길</a></li>
					</ul>
				</div> 
			</div> 
		</div>
</div>
</html>