<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" id="footer" style="border-top:1px solid #e6e6e6;">
	<div class="wrap">
			<div class="xm_left" style="padding-top:30px;padding-bottom:60px;">
			<img src="http://www.yangak.com/new/img/bottom/logo_bottom.jpg" alt="베스티안서울병원 LOGO">
			</div>
			<div class="xm_left" style="padding-left:53px;padding-top:30px;text-align:left;font-size:10">
			<span><a href="./bbs/personal_info.php?url=%2Fnew%2F" title="이용약관"><img src="http://www.yangak.com/new/img/bottom/bottom_icon_01.jpg"></a></span> 
			<span style="padding-left:23px;"><a href="./bbs/obligation.php?url=%2Fnew%2F" title="개인정보 취급방침"><img src="http://www.yangak.com/new/img/bottom/bottom_icon_02.jpg"></a></span> 
			<span style="padding-left:23px;"><a href="http://www.yangak.com/new/intro/index3.php" title="이메일주소 수집거부"><img src="http://www.yangak.com/new/img/bottom/bottom_icon_03.jpg"></a></span> 
			<span style="padding-left:23px;"><a href="http://www.yangak.com/new/intro/index4.php" title="CONTACT US"><img src="http://www.yangak.com/new/img/bottom/bottom_icon_04.jpg"></a></span><br>
			<span>
			<img src="http://www.yangak.com/new/img/bottom/bottom_icon_05.png"></span>
		</div>
	</div>
</div>
</html>