<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">

<div layout:fragment="content">

<section id ="mainVisual"> 
	<ul class ="visual_wrap"> 
		<!-- 이미지가 들어가는 태그  list1--> 
		<li class ="list1 active" >
			<div class ="leftTap"> 
			<div class ="imageBarWrap">
				<div class ="bar title"></div>
			</div>
			
			<div class ="imageContentWrap">			
					<div class ="visual_img title target">  
						<div class ="imageWrap"><img alt="" src="/img/main/carocel1/title.png"></div>
					</div>
					 
					<div class ="visual_img sub target">
						<div class =imageWrap><img alt="" src="/img/main/carocel1/sub.png"></div>
					</div>  
			</div>		
					<div>
				</div>
			</div>
			
			<div class ="visual_imgWrap text target">
				<div class ="visual_img">
					<div class ="imageWrap"><img alt="" src="/img/main/carocel1/text.png"></div>
				</div>
			</div>
		</li>
		 

		 
		<!-- 이미지가 들어가는 태그  list2--> 
		<li class ="list2">
			<div class ="leftTap"> 
			<div class ="imageBarWrap">
				<div class ="bar title"></div>
			</div>
			
			<div class ="imageContentWrap">			
					<div class ="visual_img title target">  
						<div class ="imageWrap"><img alt="" src="/img/main/carocel1/title.png"></div>
					</div>
					 
					<div class ="visual_img sub target">
						<div class =imageWrap><img alt="" src="/img/main/carocel1/sub.png"></div>
					</div>  
			</div>		
					<div>
				</div>
			</div>
			
			<div class ="visual_imgWrap text target">
				<div class ="visual_img">
					<div class ="imageWrap"><img alt="" src="/img/main/carocel1/text.png"></div>
				</div>
			</div>
		</li>
		 

		 		 		<!-- 이미지가 들어가는 태그  list3--> 
		<li class ="list3">
			<div class ="leftTap"> 
			<div class ="imageBarWrap">
				<div class ="bar title"></div>
			</div>
			
			<div class ="imageContentWrap">			
					<div class ="visual_img title target">  
						<div class ="imageWrap"><img alt="" src="/img/main/carocel1/title.png"></div>
					</div>
					 
					<div class ="visual_img sub target">
						<div class =imageWrap><img alt="" src="/img/main/carocel1/sub.png"></div>
					</div>  
			</div>		
					<div>
				</div>
			</div>
			
			<div class ="visual_imgWrap text target">
				<div class ="visual_img">
					<div class ="imageWrap"><img alt="" src="/img/main/carocel1/text.png"></div>
				</div>
			</div>
		</li>
		 

		<!-- 이미지가 들어가는 태그  list4--> 
		<li class ="list4">
			<div class ="leftTap"> 
			<div class ="imageBarWrap">
				<div class ="bar title"></div>
			</div>
			
			<div class ="imageContentWrap">			
					<div class ="visual_img title target">  
						<div class ="imageWrap"><img alt="" src="/img/main/carocel1/title.png"></div>
					</div>
					 
					<div class ="visual_img sub target">
						<div class =imageWrap><img alt="" src="/img/main/carocel1/sub.png"></div>
					</div>  
			</div>		
					<div>
				</div>
			</div>
			
			<div class ="visual_imgWrap text target">
				<div class ="visual_img">
					<div class ="imageWrap"><img alt="" src="/img/main/carocel1/text.png"></div>
				</div>
			</div>
		</li>
		 

		 		 
	</ul> 

	<!-- 케러셀 버튼 -->
<!-- 	<div id="navBtn">
			<button type="button" class="prev">prev btn</button>
			<button type="button" class="next">next btn</button>
	</div> -->
			
	<!-- 케러셀 dot -->
	<ul id="indiBtn">
	     <li><button type="button" class="active">1</button></li> 
		 <li><button type="button">2</button></li>
		 <li><button type="button">3</button></li>
		 <li><button type="button">4</button></li>
	</ul>
	<!-- 캐러셀 end -->


</section>
<section>
	<div class ="mainVisual-footer">
	
		<div class ="rightBox">
			<div class ="semiBoxWrap">
				<div class ="semiBox">
					<div class ="semiTitle"><h3>Before</h3></div>
					<div class ="semiContent">
						<div class ="imageWrap"><img alt="" src="/img/main/carocel1/before.png"></div>
					</div>
				</div>
				
				<div class ="semiBox after">
					<div class ="semiTitle"><h3>After</h3><a class="more_link">더보기</a></div>
					<div class ="semiContent">
						<div class ="imageWrap"><img alt="" src="/img/main/carocel1/after.png"></div>
					</div>
				</div>
			</div>
		</div>
			
		<div class ="leftBox">
				<div class ="content">
					<div  class ="cacaoLine-Box"><span>카카오톡 상담</span><img alt="" src="/img/main/kakao.png"></div>
					<div><h1>BESTIANSEOUL</h1></div>
				</div>
		</div>
		
		<div class ="cacaoLine">
				<div class ="content">
					<div><h1><span>카카오톡 상담</span><b>BESTIANSEOUL</b><img alt="" src="/img/main/kakao.png"></h1></div>
				</div>
		</div>

	</div>		
</section>



</div>
<!--  end fragment -->

<th:block layout:fragment="script">

	<script th:inline="javascript">
	
	var winW;
	var winH;
	var textImgW;
	var titleWidth;			
	var subWidth; 		
	var es_step = "Expo.ease";
	var $window = $(window);

	$(function(){
		  
			 textImgW = $(".visual_imgWrap.text").width();
			 titleWidth = $(".visual_img.title.target").width();			
			 subWidth = $(".visual_img.sub.target").width(); 		

			Carocellayout();
		    main();
		    
	 });
	  
	 
		
	 $(window).resize(function() {
    	
		Carocellayout();
		
    });
    
	 
	  
	 function Carocellayout(){
		 
			var FullWidth = $("#mainVisual").width();
			
			//sub 위치 조정
 			if(FullWidth > 1200){
 				
 				var $text = $(".visual_imgWrap.text");
 				
				if(1920> FullWidth && FullWidth  < 1642){ 
					$text.css("right",-((1642 - FullWidth)/2 + 47)); 
				} else if(FullWidth < 1920){
					$text.css("right",-(1920 - FullWidth)/6); 
				} else{
					$text.css("right","0"); 
				}
 			}
 			
			//title 위치 조정
			var barWidth = $(".bar").width();
			
			var $title = $(".visual_img.title.target");
			var $sub = $(".visual_img.sub.target");
			var $bar = $(".bar");
			var $initBtn = $("#indiBtn");
			
			if(1920 < FullWidth){
				var textWidth = $(".visual_wrap li.active .visual_imgWrap.text.target .visual_img").width();
				var dif  = FullWidth-textWidth;
				
				$bar.width(dif);
				$initBtn.css("left",dif);				
				
			}else if(1920> FullWidth && FullWidth  > 1280){
				
				var textWidth = $(".visual_wrap li.active .visual_imgWrap.text.target .visual_img").width();
				var tempWidth = $(".visual_imgWrap.text").css("right").replace("px","") ;
				tempWidth *= 1;
				textWidth  = textWidth +tempWidth;
				var dif  = FullWidth-textWidth;
				
				$bar.width(dif);
				$initBtn.css("left",dif);
				
				$title.width(titleWidth);
				$sub.width(subWidth);
				
				
			} else if(FullWidth < 1280){
				
				var semiWidth = $(".semiBox ").width()*2;
				var dif = (FullWidth - semiWidth)/2;
				
				$bar.width(dif);
				$initBtn.css("left",dif);
				
				if(dif< 203 && dif > 90){
					$title.width(titleWidth - (203-dif));
					$sub.width(subWidth -  (203-dif));
				}else if(dif < 90){
					$title.width(240);
					$sub.width(226);
				}else if(dif > 90){
					$title.width(348);
					$sub.width(319);
				}
				
			}
			
			var titleTargetH =$(".visual_wrap li.active").find(" .title.target").height()/2+1;			
			$bar.height(titleTargetH);
			
	 }
	 
	 
	 function main(){
		 
		    //mainVisual
		    var $mainVisual = $("#mainVisual");
		    var $visualWrap = $mainVisual.find(".visual_wrap"), 
		      	  $visualWrapLi = $visualWrap.find("li"),
		    	  _visualLength = $visualWrapLi.length;
		    
		    var $indiBtn = $mainVisual.find("#indiBtn");
		    
		    /* TweenMax.staggerTo($visualWrapLi.eq(0).find(" .title, .sub, .text"), .3, {y: 0, opacity: 1, ease: es_step}, .2); */

		    TweenMax.delayedCall(0.2,function(){
			    TweenMax.fromTo($visualWrapLi.eq(0).find(" .title"), 0.5, {alpha:0, x:-100},{alpha:1.0, x:0, ease: Quad.easeOut, force3D: true});
		    });

		    TweenMax.delayedCall(0.3,function(){
			    TweenMax.fromTo($visualWrapLi.eq(0).find(" .sub"), 0.5, {alpha:0, y:20},{alpha:1.0, y:0, ease: Quad.easeOut, force3D: true});
		    });

		    TweenMax.delayedCall(0.4,function(){
			    TweenMax.fromTo($visualWrapLi.eq(0).find(" .text"), 0.5, {alpha:0, x:100},{alpha:1.0, x:0, ease: Quad.easeOut, force3D: true});
		    });
		    
		    TweenMax.delayedCall(0.5,function(){ 
			    TweenMax.fromTo($("#indiBtn"), 0.5, {alpha:0, x:100},{alpha:1.0, x:0, ease: Quad.easeOut, force3D: true});
		    });
		     
		    var visualCrr = {}; 
		    
		    Object.defineProperty(visualCrr, 'number', {
		        get: function () { 
		            return this.num || 0;
		        },
		        set: function (_visualCrr) {
		        	if(!isNumber(_visualCrr)) {
		        		throw '';
		        	}
		            _visualCrr = _visualCrr % _visualLength;
		            TweenMax.to($visualWrapLi, .3, {opacity:0, display:"none", ease:es_step});
		            
		            TweenMax.to($visualWrapLi.eq(_visualCrr), .3, {opacity:1, display:"block", ease:es_step});
		            
				    TweenMax.delayedCall(0.3,function(){
					    TweenMax.fromTo($visualWrapLi.eq(_visualCrr).find(" .title"), 0.5, {alpha:0, x:-100},{alpha:1.0, x:0, ease: Quad.easeOut, force3D: true});
				    });

				    TweenMax.delayedCall(0.4,function(){
					    TweenMax.fromTo($visualWrapLi.eq(_visualCrr).find(" .sub"), 0.5, {alpha:0, y:20},{alpha:1.0, y:0, ease: Quad.easeOut, force3D: true});
				    });

				    TweenMax.delayedCall(0.5,function(){
					    TweenMax.fromTo($visualWrapLi.eq(_visualCrr).find(" .text"), 0.5, {alpha:0, x:100},{alpha:1.0, x:0, ease: Quad.easeOut, force3D: true});
				    });
				    
		            $indiBtn.find("li button").removeClass("active");
		            $indiBtn.find("li").eq(_visualCrr).find("button").addClass("active");
		            
		            $visualWrapLi.removeClass("active");
		            $visualWrapLi.eq(_visualCrr).addClass("active");
		            
		            this.num = _visualCrr;
		        }
		    });

		    $indiBtn.find("button").click(function () {
		        var _this = $(this);
		        var _visualCrr = _this.parent().index();

		        visualCrr.number = _visualCrr;
		    });
		    
		    
		    var x;
		    var x2;
		    
		    $mainVisual.mousedown(function(event){
		  		   x = event.pageX;
		    });
		    
		    $mainVisual.mouseup(function(event){
		  		   x2 = event.pageX;
		  		 	var dif = x2-x;
		  		 	
		    	   /* 오른쪽으로넘김 */
		    	   if((dif) > 50){
		    		   visualCrr.number--;
		    		   
		    	    /* 왼쪽으로 넘김 */
		    	   }else if((dif) < -50){
		    		   visualCrr.number++;
		    	   }
		    });
		    
		    
	 } 
	 
	 function isNumber(n) { return !isNaN(parseFloat(n)) && !isNaN(n - 0) }
		
	</script>

</th:block>
</html>
