<html xmlns:th ="http://www.thymeleaf.org">
<head>
<title>Thymeleaf3</title>
<meta http-equiv="Content-Type" content ="text/html; charset=UTF-8" >
  <link rel="stylesheet" th:href="@{/css/test.css}">
</head>
<body> 

<div class ="wrap">
	<div class ="container">
		<div id = "a1"></div>
		<div id ="a2"></div>
		<div id ="a3"></div>
	</div>
</div>

<div class ="wrap">
	<div class ="container">
		<div class ="left">
				<div id = "a1"></div>
				<div id ="a2"></div>
				<div id ="a3"></div>
		</div>
		<div class ="right">
				<div id = "a1"></div>
				<div id ="a2"></div>
				<div id ="a3"></div>
		</div>
	</div>
</div>

<div class ="wrap">
	<div class ="container">
		<div class ="div_Absolute">
				<div id = "a1"></div>
				<div id ="a2"></div>
				<div id ="a3"></div>
		</div>	
	</div>
</div>

</body>
</html>